.friends {
  width: 80%;
  margin: 0 auto;
  h1 {
    font-size: 70px;
  }
  .loading-icon {
    width: 10%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
