.app-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .content {
    width: 50%;
    margin-right: 15px;
    h1 {
      margin: 0;
      margin-bottom: 20px;
      font-size: 100px;
    }
    p {
      font-size: 30px;
    }
  }
  .image {
    img {
      width: 100%;
    }
  }
}
.right-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  z-index: -1;
  img {
    width: 100%;
  }
}
