* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h2 {
}
ul {
  list-style-type: none;
}
li {
  padding: 10px 0;
  text-align: center;
}
