$maincolor: #fff;
$bgcolor: #6c79d9;

header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgba($color: $bgcolor, $alpha: 1);
  transition: 200ms ease-out;
  &.sticky {
    background-color: rgba($color: $bgcolor, $alpha: 0.7);
    position: fixed;
  }
  .logo {
    h1 {
      color: $maincolor;
      font-size: 30px;
    }
  }
  .urls {
    a {
      color: $maincolor;
      font-size: 25px;
      text-decoration: none;
      font-weight: bold;
      & + a {
        margin-left: 20px;
      }
    }
  }
}
