body {
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  button,
  a {
    font-family: inherit;
    font-weight: bold;
  }
  .content {
    max-width: 800px;
    margin: 0 auto;
    min-width: 800px;
    border-radius: 15px;
    padding: 30px;
    background-color: rgba($color: #e6e6e6, $alpha: 0.1);
    backdrop-filter: blur(10px);
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin-bottom: 50px;
      img {
        width: 90px;
        height: auto;
        margin-right: 10px;
      }
      h1 {
        margin: 0 0 0 0;
        font-size: 50px;
        color: #fff;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          background-color: rgba($color: #0984e3, $alpha: 1);
          width: 5%;
          transition: 200ms width ease-out;
          height: 3px;
          bottom: -20px;
          left: 5px;
        }
        &.anim {
          &::after {
            width: 70%;
          }
        }
      }
    }
    .quote {
      p {
        margin-bottom: 50px;
        color: #fff;
        line-height: 1.5;
      }
      small {
        display: block;
        text-align: right;
        position: relative;
        color: #fff;
        margin: 30px 0;
        &:after {
          content: '';
          position: absolute;
          background-color: rgba($color: #fff, $alpha: 0.3);
          width: 30%;
          height: 3px;
          top: -15px;
          right: 0;
        }
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
      a {
        font-size: 26px;
        display: inline-block;
        text-decoration: none;
        background-color: #0984e3;
        border-radius: 8px;
        border: 3px solid rgba($color: #fff, $alpha: 0);
        transition: 300ms;
        width: 50%;
        &:hover {
          background-color: #339beb;
          border: 3px solid rgba($color: #fff, $alpha: 5);
        }
        button {
          padding: 15px 25px;
          color: #fff;
          background-color: transparent;
          margin: 0 auto;
          display: block;
          font-size: inherit;
          border: none;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            outline: none;
          }
        }
      }
      a + a {
        margin-left: 30px;
      }
    }
  }
  .loader {
    display: none;
    position: absolute;
    top: 0;
    cursor: wait;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(10px);
    svg {
      circle {
        stroke-dasharray: 150;
        animation: infiniteloop 3s linear infinite;
      }
    }
  }
  .loader.active {
    display: flex;
  }
  @keyframes infiniteloop {
    0% {
      stroke-dasharray: 0;
    }
    100% {
      stroke-dasharray: 302;
    }
  }
}

@media only screen and (max-width: 320px) {
  body {
    height: unset;
    display: block;
    .content {
      padding: 20px;
      min-width: unset;
      max-width: unset;
      margin: 0 auto;
      margin-top: 30px;
      width: 80%;
      margin-bottom: 50px;
      .header {
        h1 {
          text-align: center;
          font-size: 30px;
        }
        display: block;
      }
      .quote p {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .button-container {
        display: block;
        a {
          width: 100%;
          font-size: 16px;
        }
        a + a {
          margin-top: 20px;
          margin-left: unset;
        }
      }
    }
  }
}
@media only screen and (min-width: 321px) and (max-width: 414px) {
  body {
    height: unset;
    display: block;
    .content {
      padding: 20px;
      min-width: unset;
      max-width: unset;
      margin: 50px auto;
      width: 80%;
      .header {
        h1 {
          text-align: center;
          font-size: 30px;
        }
        display: block;
      }
      .quote p {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .button-container {
        display: block;
        a {
          width: 100%;
          font-size: 16px;
        }
        a + a {
          margin-top: 20px;
          margin-left: unset;
        }
      }
    }
  }
}
@media only screen and (min-width: 415px) and (max-width: 1024px) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      padding: 20px;
      min-width: unset;
      max-width: unset;
      margin: 50px auto;
      width: 80%;
      .header {
        h1 {
          text-align: center;
          font-size: 38px;
        }
      }
      .quote {
        p {
          font-size: 30px;
        }
        small {
          font-size: 20px;
        }
      }
      .button-container {
        display: block;
        a {
          width: 100%;
          font-size: 35px;
        }
        a + a {
          margin-top: 20px;
          margin-left: unset;
        }
      }
    }
  }
}
